@font-face {
  font-family: 'Blue Cashew';
  src: url('/fonts/BlueCashews.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.react-phone-number-input input {
  background: transparent;
  border: none;
}

/* Hover effect */
.react-phone-number-input input:hover {
  border-color: 'transparent';
}

/* Focus effect */
.react-phone-number-input input:focus {
  outline: none;
  border-color: white;
}
.react-phone-number-input {
  background: transparent;
  border: 1px solid #b8b7b7;
  min-height: 48px;
  border-radius: 8px;
  padding: 8px 4px 8px 10px;
  width: 100%;
}

.react-phone-number-input:hover {
  border-color: #585757; /* Blue on hover */
}

.react-phone-number-input:focus {
  border-color: #585757; /* Darker blue on focus */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}
.PhoneInputInput {
  border: none;
}

.paginationBtns {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  padding: 0.875em 0.313em;
  width: 100%;
}
.paginationBtns a {
  padding: 0.5em 0.75em;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 0.75em;
  font-size: 0.813em;
  font-family: 'lato', sans-serif;
}

.paginationActive a {
  color: white;
  background-color: #04366899;
}
.paginationDisabled a {
  color: rgb(198, 197, 202);
  border: 1px solid rgb(198, 197, 202);
}

